.programmerChair{
    width:200px;
    height: 400px;
    border: 1px slid #000;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.backup{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.backupBack{
    background-color: #4D4D4D;
    width:100%;
    height:200px;
    border-radius:10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.backupTube{
    width:20px;
    height:40px;
    background-color: #B3B3B3;
}

.backupContainer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width:100%;
}

.chairFooterContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.seatContainer{
    display: flex;
    width:100%;
}

.seatTubeLeft{
    border: 15px solid #B3B3B3;
    border-top: 0px;
    border-left:0px;
    border-bottom-right-radius: 8px;
    padding:5px;
    margin-bottom:15px;
}

.backupSupportRight{
    width: 18px;
    height:80px;
    margin-left:5px;
    background:#B3B3B3;
}

.backupSupportLeft{
    width: 19px;
    height:80px;
    background:#B3B3B3;
}

.seatTubeRight{
    border: 15px solid #B3B3B3;
    border-top: 0px;
    border-right:0px;
    border-bottom-left-radius: 8px;
    padding:5px;
    margin-bottom:15px;
}

.seat{
    background-color: #4D4D4D;
    border:1px solid #4D4D4D;
    border-radius: 10px;
    width:80%;
    height:40px;
}

.support{
    width:20px;
    height:80px;
    background-color: #B3B3B3;
}

.footerRectangle{
    background-color: #4D4D4D;
    width:100%;
    height:15px;
    border-radius: 50% 50% 0 0;
    position: relative;
    z-index: 1;
}

.circleContainer{
    width:100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index:0;
    margin-top: -5px;
}

.circle{
    background-color: #B3B3B3;
    width:20px;
    height:20px;
    border-radius: 0 0 50% 50%;
}