.programmerBodyContainer{
    position: absolute;
    z-index:2;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    width:240px;
    height: 600px;
}

.body{
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyBody{
    width:80%;
    height:180px;
    display: flex;
    justify-content: center;
}

.bodyNeck{
    width:30px;
    height:50px;
    border:1px solid #000;
    background-color:#f1c27d;
    position: relative;
}





