*{
  color:#fff;
  font-family: 'Roboto', sans-serif;
}
#root{
  min-width:100%;
  min-height:100vh;
  background-color: #20232a;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width:100%;
  min-height: 100vh;
}