.programmerBodyContainer{
    position: absolute;
    z-index:2;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    width:240px;
    height: 600px;
}

.body{
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes turningRightHead {

    0%{
        border-top:3px solid #434343;
        border-right: 1px solid #f1c27d;
        width:89px;
        height: 97px;
    }
    25%{
        border-top:5px solid #434343;
        border-right: 10px solid #f1c27d;
        width:80px;
        height: 95px;
    }
    50%{
        border-top:7px solid #434343;
        border-right: 15px solid #f1c27d;
        width:75px;
        height: 93px;
    }
    75%{
        border-top:9px solid #434343;
        border-right: 20px solid #f1c27d;
        width: 70px;
        height: 91px;
    }
    100%{
        border-top:11px solid #434343;
        border-right: 25px solid #f1c27d;
        width: 65px;
        height: 89px;
    }
    
}

.bodyHead{
    border-radius:90%;
    border-top:11px solid #434343;
    border-right: 25px solid #f1c27d;
    width: 65px;
    height: 89px;
    background-color: #434343;
    margin-bottom:-10px;
    position: relative;
    z-index:1;
    border-bottom: 1px solid #f1c27d;
    animation: turningRightHead 1s 1;
}

@keyframes turningRightEyeBrow {
    0%{
        width:0px;
        right:5px;
    }
    25%{
        right:0px;
    }
    50%{
        width:10px;
    }
    60%{
        width:14px;
    }
    80%{
        width:11px;
        right:-5px;
    }
    90%{
        width:12px;
        right:-10px;
    }
    95%{
        width:13px;
        right:-12px;
    }
    100%{
        width:15px;
        
    }
}

.eyebrow{
    position: absolute;
    top:10px;
    right:-12px;
    width:15px;
    height:3px;
    background-color: #000;
    transform: rotate(10deg);
    animation: turningRightEyeBrow 1s 1;
}

@keyframes turningRightMouth{
    0%{
        width:0px;
        right: 0px;
    }
    100%{
        width:12px;
    }
}

.bodyHeadMouth{
    position: absolute;
    top:60px;
    right: -20px;
    width:12px;
    height:3px;
    background-color: #000;
    animation: turningRightMouth 1s 1;
}

@keyframes turningRightEye {
    0%{
        display: none;
        right:0px;
        width:0px;
    }
    70%{
        
        display: flex;
        justify-content: flex-end;
        width:10px;
    }
    100%{
        justify-content: center;
        width:15px;
        right:-15px;
    }
}

.bodyHeadEye{
    position: absolute;
    top:15px;
    right:-15px;
    background-color: #fff;
    width:15px;
    height:15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: turningRightEye 1s 1;
}

.bodyHeadEyeIris{
    background-color: #000;
    width:10px;
    height:10px;
    border-radius: 100%;
}

@keyframes turningRightNose {
    0%{
        right: 0px;
        border-left: 15px solid transparent;
    }
    20%{
        border-left: 15px solid transparent;
    }
    50%{
        border-left: 15px solid #f1c27d;
    }
    100%{
        border-left: 15px solid #f1c27d;
        right: -35px;
    }
}

.bodyHeadNose{
    position: absolute;
    top:30px;
    right: -35px;
    width: 0; 
    height: 0; 
    border-left: 15px solid #f1c27d;
    border-top: 10px solid transparent;
    border-bottom: 3px solid transparent;
    animation: turningRightNose 1s 1;
}

.bodyNeck{
    width:30px;
    height:50px;
    border:1px solid #000;
    background-color:#f1c27d;
    position: relative;
}

.bodyBody{
    width:80%;
    height:180px;
    display: flex;
    justify-content: center;
}

@keyframes keyboardTouchLeft {
    0% {
        margin-top:-50px;
    }
    25%{
        margin-top:0px;
    }
    50%{
        margin-top:-50px;
    }
    75%{
        margin-top:0px;
    }
    100%{
        margin-top:-50px;
    }
}

@keyframes keyboardTouchRight {
    0% {
        margin-top:0px;
    }
    25%{
        margin-top:-50px;
    }
    50%{
        margin-top:0px;
    }
    75%{
        margin-top:-50px;
    }
    100%{
        margin-top:0px;
    }
}

@keyframes keyBoardEnd {
    0%{
        transform: rotate(0deg);
        margin-left: 0px;
        margin-top:0px;
    }
    50%{
        margin-top:50px;
        transform: rotate(-30deg);
    }
    100%{

        margin-left:50px;

    }
}


.bodyArmOutOfPlaceContainer {
    display: flex;
    position: absolute;
    width:calc(60%);
    justify-content: space-between;
    height: 10px;
    animation: keyBoardEnd .5s ease-in-out 1.5s 1 both;
}

@keyframes armExtension {
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(60deg)

    }
}

.bodyArmRightContainer{
    transform-origin: bottom center;
    animation: armExtension .5s ease-in-out 2s 1 both;
}

.bodyArmOutOfPlaceLeft{
    margin-top:0px;
    animation: keyboardTouchLeft .5s 3;
    transform:rotate(35deg);
}

.bodyArmOutOfPlaceRight{
    margin-top:-50px;
    animation: keyboardTouchRight .5s 3;
    transform:rotate(-35deg);
}

.bodyHand{    
    width: 30px;
    border-left: 0px solid transparent;
    border-top: 20px solid #f1c27d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: 0px!important; 
}

.forearm{
    width:30px;
    height:60px;
    background-color: #000;
    border-bottom: 1px solid #000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.bodyArmContainer{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.bodyArmLeft,.bodyArmRight{
    width:30px;
    height:90px;
    background-color: #000;
    transform:rotate(-25deg);
    border-bottom: 1px solid #000;
    border-radius: 8px;
}
@keyframes armRotationRight {
    0%{
        transform: rotate(-25deg);
        margin-left:0px;
    }
    100%{
        transform: rotate(25deg);
        margin-left:50px;
    }
}

.bodyArmRight{
    animation: armRotationRight .5s 1.5s 1 both;
}

.bodyArmLeft{
    transform:rotate(25deg);
}

@keyframes rotate3dRightArm{
    0%{
        transform: rotate3d(1, 1, 1, 0deg);
    }
    50%{
        transform: rotate3d(1, 1, 1, 45deg);
    }
    100%{
        transform: rotate( 15deg);
    }
}
.containerToRotateRightArm{
    animation: rotate3dRightArm .5s 3s 1 both;
}